.archiv td {
    padding: 0;
}
/* Song Animation */
.song-anim-enter {
    opacity: 0;
}
.song-anim-enter-active {
    opacity: 1;
    transition: all 300ms;
}
.song-anim-exit {
    opacity: 1;
}
.song-anim-exit-active {
    opacity: 0;
    transition: all 300ms;
}
.archivepager {
    margin-top: 1em;
}

.song-skipped {
    text-decoration: line-through;
}