.gapcloser {
    max-width: 50ch;
    padding: 1em;
    margin-top: 10em;
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .5), 0 1px 0 rgba(250, 250, 250, .2);
    background-color: #252525;
    background-image: url(../res/bgtexture.png);
    box-sizing: border-box;
    text-shadow: 0 -1px 0 #111;
    color: #D0D0D0;
}
.gapcloser button {
    margin: 1em;
}
.gapcloser form {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.gapcloser form > div {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.gapcloser .grow {
    flex-grow: 1;
    margin-left: 1em;
}

.gapcloser-playlist-list-entry {
    /*border: 1px pink solid;*/
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.gapcloser-playlist-list-entry > div:first-child {
    display: flex;
}

.gapcloser-playlist-list-entry input[type=text] {
    width: 100%;
}

.gapcloser-playlist-list-entry > div:nth-child(2) {
    margin-left: 1rem;
}

.gapcloser-playlist-list-entry:first-child > div:nth-child(2) {
    flex-grow: 1;
    padding: 2px 0;
}

