.homeContainer {
    flex-grow: 1;
    margin-bottom: -60px;
}

.Status {
    padding: 9px;
    background-color: #FFAB40;
    color: #452602;
    font-family: monospace;
    font-weight: bold;
    border: 1px solid #2a2a2a;
    border-radius: 6px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .5), 0 1px 0 rgba(250, 250, 250, .2);
    text-shadow: none;
    font-size: 14px;
}
.Status .row:first-child{
    text-transform: uppercase;
}
.Status a {
    color: #fff;
}
.Control {
    margin-top: 1em;
    line-height: 1.5em;
}
.Control .col {
    padding:0;
}
.Control .col:first-child button {
    border-radius: 4px 0 0 4px;
}
.Control .col:last-child button {
    border-radius: 0 4px 4px 0;
    border-right: 0;
}
.Control button {
    width: 100%;
    color: #333!important;
    text-shadow: 0 1px 0 #eee;
    display: inline-block;
    margin: 0;
    padding: 6px 0;
    border-radius: 0;
    border: none;
    border-right: 1px solid;
    background-color: #eee!important;
    background-image: linear-gradient(#eee, #bbb 70%, #9f9f9f 100% );
    background-position: 0 6px;
    background-repeat: no-repeat;
    box-shadow: rgba(0,0,0,.4) 0 3px 6px!important;
    border-color: initial!important;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.Control button:hover {
    background-position: 0;
    color: #333!important;
    transition: all .1s ease-in;
    box-shadow: rgba(0,0,0,.4) 0 3px 6px!important;
    border-color: initial!important;
    background-color: #eee!important;
}
.Control button:focus {
    box-shadow: rgba(0,0,0,.4) 0 3px 6px!important;
    border-color: initial!important;
    background-color: #eee!important;
    color: #333!important;
}
.Control button:active {
    box-shadow: inset rgba(0,0,0,.5) 0 5px 10px!important;
    border-color: initial!important;
    background-color: #eee!important;
    color: #333!important;
    transition: none;
}

.mb-table tbody tr {
    white-space: nowrap;
    background-color: #B6B6B6;
    color: #212121;
    margin: 0;
}

.nolink a {
    color: #212121!important;
}

.nolink a:hover {
    color: #212121!important;
    text-decoration: none;
}
.deleteicon {
    cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}
.BottomControl {
    margin-top: 0.5rem;
}
.BottomControl button {
    font-weight: bold;
}
.BottomControl a {
    color: #9E9E9E;
}
.BottomControl a:hover {
    color: #9E9E9E;
}
.BottomControl .col-6 {
    padding: 0;
}

.right-control {
    display: flex;
    justify-content: end;
}

.dragging {
    background-color: #ffab40a1;
}
.lr-space {
    margin-left: 10px;
    margin-right: 10px;
}
.mb-table {
    font-size: 14px;
    box-sizing: border-box;
    line-height: 1.7em;
    text-shadow: none;
    background-image: url(../res/bgtexture.png);
    box-shadow: 0 0 60px 5px rgba(0,0,0,0.5);
    padding: 0;
    text-align: center;
    user-select: none;
    background-color: #121212;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #BDBDBD;
    margin: 0;
}
.mb-table a {
    color: #292929;
}
.mb-table a:hover {
    color: #555;
}
.mb-table .songlink, .mb-table .songtitle {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.mb-table img {
    margin-right: 1ch;
}
.mb-table .songid {
    width: 5em;
}

.mb-table .datetime {
    width: 10em;
}
.mb-table .author {
    width: 10em;
    text-align: left;
    padding-left: 1em;
}
.mb-table .delete {
    width: 2em;
}
.page-body {
    user-select: none;
}
.menuEntryDisplayName{
    margin-left: 0.3rem;
}

tbody {
    position: relative;
}

tbody.preview {
    mask: linear-gradient(to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 90%
    ) 100% 100% / 100% 100% repeat-x;
    font-style: italic;
}

.song.preview {
    background-color: #A6A6A6;
}
