.dropNotification {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6000000;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropNotificationMessage {
    color: white;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3rem;
}